.card-signin {
  border: 0;
  border-radius: 1rem;
  padding-top: 2em;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 175, 108, 0.425);
  background-color: rgb(58, 58, 58);
  font-family: monaco, Consolas, Lucida Console, monospace;
}
.containerx {
  background-image: url("../../assets//Bg.gif");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}
.multi-button {
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}
.multi-button button {
  height: 50px;
  width: 100px;
  background: linear-gradient(to bottom, #47744d, #000000);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-button :nth-child(1) {
  border-radius: 20px 0 0 20px;
}
.multi-button :nth-child(2) button {
  border-radius: 0 20px 20px 0;
}
button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}
span.text {
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #356b16, 20px 20px #000000;
}
