<div class="d-flex justify-content-center">
  <div class="row h-100">
    <div class="item item1 shadow mx-4 bg-dark" routerLink="/home/create-edit">
      <div class="row m-5 justify-content-center text-light">
        <div class="col-12 mb-4 display-3">New Pokemon</div>
        <div class="col-12">Just add a new Pokemon, what else would it be?</div>
      </div>
    </div>
    <div class="item item2 shadow mx-4 bg-dark" routerLink="manage">
      <div class="row m-5 justify-content-center text-light">
        <div class="col-12 mb-4 display-3">Manage</div>
        <div class="col-12">
          <div class="bg"></div>
          <div class="bg bg2"></div>
          <div class="bg bg3"></div>
          <ul>
            <li>Edit existing Pokemons</li>
            <li>Remove existing Pokemons</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
