.card-header {
  height: 100px;
}
.header-text {
  color: rgb(0, 155, 155);
  font-size: larger;
}
.search > div {
  margin-top: 10px;
  filter: drop-shadow(0 1px #0091c2);
}
.search > div > input {
  color: rgb(0, 0, 0);
  font-size: 16px;
  background: transparent;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: solid 3px rgb(58, 58, 58);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}
.search > div > input::placeholder {
  transition: opacity 150ms ease-out;
  opacity: 0;
}
.search > div > input:focus::placeholder {
  opacity: 1;
}
.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
